.col{
    display: flex;
    justify-content: center;
}

.card{
    width: 75%;
    height: 25rem;
}
.likes_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.user_container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.likes_display{
    display: flex;
    
}
@media screen and (min-width : 300px) and (max-width : 700px)
{
    .card{
        width: auto;
        height: 25rem;
    }  
}