
.App {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,::before,::after{
  box-sizing: border-box;
}
html,body{
  overflow-x:hidden;
  font-size: 1rem;
}
body{
  position: relative;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0; 
}

/* NAVBAR */

.mr-auto{
  margin-right: 0 !important;
}

.navbar-collapse{
  justify-content: flex-end !important;
}

.navbar_display{
  display: flex;
}

.navbar {
  width: 100%;
 
  background: rgb(228, 153, 172) !important;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.navbar-nav{
 
  flex-direction: row !important;
  justify-content: space-between;
}
.logo_display{
  width:200px;
  height : 60px;
  object-fit: cover;
  border-radius: 1.5rem;
}
h1,h5{
  color: black;
  font-size: 1.5rem;
}

/*.navlink{
  font-weight: bolder !important;
}
p{
  color: black;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(36, 37, 90);
}
.navbar_override{
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}*/

.nav_link_display{
  font-size: 1.3rem;
  font-weight: 600;
}

.likeBtn {
  color: dodgerblue;
}
.unLikeBtn {
  color: rgb(133, 190, 228);
}
.link_display{
  display: flex;
  justify-content: center;
}

.logout_button{
 background-color:  rgb(228 153 172);
 font-size: 0.8rem !important;
 font-weight: 700;
}
