
.loginPage {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginContainer{
    border: 5px solid rgb(241, 125, 154);
  }

  .loginButton{
      background-color: rgb(245, 140, 166) !important;
  }

  .img-logo {
    height: 100px !important;
}